<div class="form">
    <div class="header">
        <h3>DIRECCIÓN DE ENVÍO</h3>
    </div>
    <section>
        <form autocomplete="off" (submit)="submitForm()" [formGroup]="formInfo">
           <div class="input">
            <img src="./assets/icons/user.png" alt="">
               <input type="text" placeholder="Nombre" formControlName="nombre">
           </div> 
           <div class="input">
            <img src="./assets/icons/user.png" alt="">
               <input type="text" placeholder="Apellidos" formControlName="apellidos">
           </div> 
           <div class="input">
            <img src="./assets/icons/email.png" alt="">
               <input type="text" placeholder="Correo Electrónico" formControlName="correo">
           </div> 
           <div class="input">
            <img src="./assets/icons/phone-call.png" alt="">
               <input type="text" placeholder="Número de teléfono" formControlName="telefono">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Código postal" formControlName="codigo" maxlength="5" minlength="5" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"  (change)="buscarCodigo($event.target.value)">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Colonia" formControlName="colonia" [readOnly]="deshabilitar" *ngIf="colonies.length==1">
               <select placeholder="Colonia" [disabled]="deshabilitar" *ngIf="colonies.length>1" formControlName="colonia">
                  <option [value]="item" *ngFor="let item of colonies">{{ item }}</option>
               </select>
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Estado/Región" formControlName="estado" [readOnly]="deshabilitar">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Ciudad" formControlName="ciudad" [readOnly]="deshabilitar">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Delegación o municipio" formControlName="delegacion" [readOnly]="deshabilitar">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Calle" formControlName="calle">
           </div> 

           <div class="buttons">
               <button type="button">Libreta de direcciones</button>
               <button type="submit">Guardar</button>
           </div>
           <div>
             <label for="checkout"><input type="checkbox"  id="checkout"> Utilizar como dirección de facturación</label>
           </div>
        </form>
    </section>
</div>