.form{

    border: 1px solid #000;

    .header{

        border-bottom: 2.5px solid #000;
        display: flex;
        align-items: center;
        padding: 20px;

    }
    
    section{

        form{

            display: flex;
            padding: 20px;
            align-items: center;
            box-sizing: border-box;
            flex-wrap:wrap;

            .input{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                display: flex;
                align-items: center;
                @media screen and (max-width:786px){
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width:100%;
                }
                img{
                    width: 28px;
                    height: 28px;
                    background-color: #000;
                    padding: 5px;
                }
                input{
                    width: 80%;
                    padding: 10px;
                    margin: 10px 0px;
                }
            }

            .buttons{
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width:100%;
                    margin: 10px 0px 20px 0px;
                button{
                    background-color: #000;
                    border: 0px;
                    color: #fff;
                    padding: 10px 20px;
                    &[type="submit"]{
                        margin: 0px 10px;
                    }
                }
            }
        }

    }
}