<div class="form">
    <div class="header">
        <h3>DIRECCIÓN DE ENVÍO</h3>
    </div>
    <section>
        <form autocomplete="off">
           <div class="input">
            <img src="./assets/icons/user.png" alt="">
               <input type="text" placeholder="Nombre">
           </div> 
           <div class="input">
            <img src="./assets/icons/user.png" alt="">
               <input type="text" placeholder="Apellidos">
           </div> 
           <div class="input">
            <img src="./assets/icons/email.png" alt="">
               <input type="text" placeholder="Correo Electrónico">
           </div> 
           <div class="input">
            <img src="./assets/icons/phone-call.png" alt="">
               <input type="text" placeholder="Número de teléfono">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Código postal">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Colonia">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Estado/Región">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Ciudad">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Delegación o municipio">
           </div> 
           <div class="input">
            <img src="./assets/icons/ubicacion.png" alt="">
               <input type="text" placeholder="Calle">
           </div> 

           <div class="buttons">
               <button type="button">Libreta de direcciones</button>
               <button type="submit">Guardar</button>
           </div>
           <div>
             <label for="checkout"><input type="checkbox"  id="checkout"> Utilizar como dirección de facturación</label>
           </div>
        </form>
    </section>
</div>