.checkout{

    border: 1px solid #ede9ea;

    .header{

        background-color: #ede9ea;
        display: flex;
        align-items: center;
        padding: 15px;
        h3{
            text-align: center;
            width: 100%;
        }

    }
    
    .productos{
        .producto{
            display: flex;
            padding: 20px;
            width: 100%;
            box-sizing: border-box;
            flex-wrap:wrap;
            align-items: center;
            border: 1px solid #ede9ea;
            img{
                max-width: 20%;
                -ms-flex: 0 0 20%;
                    flex: 0 0 20%;
            }
            p{
                &.nombre-producto{
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding: 0px 10px;
                    color: #c3c3c1;
                    font-size: 0.8em;
                    
                }

                &.valores-text{
                    -ms-flex: 0 0 10%;
                    flex: 0 0 10%;
                    max-width: 10%;
                    font-weight: bold;
                    text-align: right;
                    font-size: 0.9em;
                }
            }
        }
      
    }
    button{
        padding: 10px 20px;
        background-color: #d00f3e;
        color: #fff;
        border: 0px;
        margin: 15px;
        float: right;
    }
    .valores{
        display: flex;
        padding: 40px 20px;
        width: 100%;
        box-sizing: border-box;
        flex-wrap:wrap;
        background-color: #ede9ea;
       p{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        font-weight: bold;
        &.valores-text{
            text-align: right;
        }
       }
    }
  
    .total{
        display: flex;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        flex-wrap:wrap;
        background-color: #000;
        color: #fff;
       p{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        &.valores-text{
            text-align: right;
        }
     }
    }
}